<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="adminsignup">Admin Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"routerLink="studentSignup">Student Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div style="background: #182539" class=" row mx-auto p-4" >
    <!-- phase one -->
     <div class="text-white col-lg-5 col-md-12" >
       <img src="https://i.pinimg.com/564x/a2/86/31/a286318fca6134cf467fff6838770996.jpg" alt="" class="container-fluid ">
     </div>

     <div class="text-white col-lg-6 col-md-12 ">
         <h1>CROWN WEALTH INSTITUTION All STUDENT DATA <br> Quality Education</h1>
         <p> "Stronger Banking, Greater Service" is not just a motto but a commitment to exceptional financial experiences. We're not just a bank; we're a dynamic institution dedicated to robust services and unwavering excellence.</p><br><br>

         <div class="d-flex gap-5">
<button routerLink="signup" style="background-color: #154cc9;" class="btn btn-transparent text-white fw-bold" routerLink="studentSignup" >Get Started </button> <button class="btn btn-transparent text-white border">Download app ⬇️</button>

         </div>
     </div>
     <!-- phase one -->

        <!-- phase two -->


