<div class="container border shadow-lg rounded mt-5 p-4 w-75">
    <h5 class="text-center mt-3">CROWN WEALTH INSTITUTION (Adin)</h5>
    <input class="form-control my-3" [(ngModel)]="firstName" type="text" placeholder="First Name">
    <input class="form-control my-3" [(ngModel)]="lastName" type="text" placeholder="Last Name">
    <input class="form-control my-3" [(ngModel)]="email" type="text" placeholder="Email Name">
    <input class="form-control my-3" [(ngModel)]="age" type="text" placeholder="Age">
    <input class="form-control my-3" [(ngModel)]="address" type="text" placeholder="Address">
    <input class="form-control my-3" [(ngModel)]="password" type="text" placeholder="Password">

    <button (click)="signAdmin()" class="btn btn-success fw-bold">Sign Up</button>
    <!-- <div class="text-danger alert alert-danger mt-4">{{message}}</div> -->
</div>
