
<table class="table table-striped mt-5 ">
    <thead>
      <tr>
        <th>S/N</th>
        <th>First name</th>
        <th>Last name</th>
        <th> Email</th>
        <th> Address</th>
        <th> Age</th>
        <th> Matric No</th>
     
      </tr>
    </thead>
    <tbody *ngFor="let array of allStudentArray; let id = index">
      <tr>
        <td>{{id +1}}</td>
        <td>{{array.firstName}}</td>
        <td>{{array.lastName}}</td>
        <td>{{array.email}}</td>
        <td>{{array.address}}</td>
        <td>{{array.age}}</td>
        <td>{{array.matric}}</td>
        <td>
            <button class="btn btn-warning" >
                Edit
            </button>
        </td>

        <td>
            <button class="btn btn-danger">
              delete
            </button>
        </td>
      </tr>
    </tbody>
  </table>