<h5 class="text-center mt-3">CROWN WEALTH INSTITUTION All STUDENT DATA </h5>
<div class="table-responsive">
    <table class="table table-striped table-dark mt-5">
      <thead>
        <tr>
          <th>S/N</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Address</th>
          <th>Age</th>
          <th>Matric No</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody *ngFor="let array of allStudentArray; let id = index">
        <tr>
          <td>{{id + 1}}</td>
          <td>{{array.firstName}}</td>
          <td>{{array.lastName}}</td>
          <td>{{array.email}}</td>
          <td>{{array.address}}</td>
          <td>{{array.age}}</td>
          <td>{{array.matric}}</td>
          <td>
            <button type="button" class="btn btn-warning text-white fw-bold" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Edit 
                     </button>
          </td>
  
          <td>
            <button class="btn btn-danger" (click)="moveUser(id)">
                delete
              </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
  
  
          <input type="text"
          [(ngModel)]="firstName"
           class="form-control my-2" 
           
           placeholder="First name">
  
          <input 
          type="text" 
          [(ngModel)]="lastName"
          class="form-control my-2" 
          placeholder="Last name">
  
          <input 
          type="text" 
          [(ngModel)]="email"
          class="form-control my-2" 
          placeholder="Email">
  
          <input 
          type="text" 
          [(ngModel)]="age"
          class="form-control my-2" 
          placeholder="Age">
  
          <input 
          type="text" 
          [(ngModel)]="address"
          class="form-control my-2" 
          placeholder="Address">

          <input 
          type="text" 
          [(ngModel)]="matric"
          class="form-control my-2" 
          placeholder="Matric num">

          <input 
          type="password" 
          [(ngModel)]="password"
          class="form-control my-2" 
          placeholder="password">
  

  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success fw-bold" (click)="saveChange(id)">Save changes</button>
        </div>
      </div>
    </div>
  </div>